<%- include("partials/top") %>


    <h1>Add New Item</h1>
    <a href="/">Home</a>
    <a href="/forRentItems">Featured Items</a>


    <form action="/forRentItems" method="POST">
        <input type="text" name="name" placeholder="add item for rent">
        <input type="text" name="description" placeholder="add a description">
        <input type="number" name="price" placeholder="add a price">
        <input type="text" name="imgSource" placeholder="add the URL of your image">
        <input type="submit" value="submit">
    </form>


    <%- include("partials/bottom") %>