<h1>ITEMS FOR RENT</h1>


<li>
    <%= rentalObjectsEjs%>
</li>

<!-- <%for(let i = 0; i < rentalObjectsEjs.length; i++){%>
    <li>
        <%= rentalObjectsEjs[i][name] %>
    </li>

    <%}%> -->



<a href="/">Home</a>